:root {
    /* global colors */
    --brivity-blue: #59C4C4;
    --brivity-blue-115: #4CA7A7;
    --brivity-blue-20: #59C4C420;
    --brivity-coral: #F2714D;
    --coral-grad: linear-gradient(90deg, #f2714d 0%, #af243e 100%);
    --blue-grad: linear-gradient(90deg, var(--brivity-blue) 0%, var(--brivity-blue-115) 100%);
    --gray-75: #666;
    --gray-50: #999;
    --gray-10: #EBEBEB;
    --tinted-gray-100: #ECEFEF;
    --tinted-gray-50: #F5F7F7;
    --white: #FFF;

    /* box shaddows */
    --card-shadow: 0px 2px 50px 0px rgba(150, 150, 150, 0.34);
}

html,
body {
    color: var(--gray-75);
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    border-style: none;
    scroll-behavior: smooth;
    letter-spacing: 0 !important;
}

/*----------------------------------------------- Font styles */

h1,
h2,
h3,
h4,
h5 {
    font-weight: 600;
}

.content_block_head h1 {
    font-size: 2.5rem;
}

.content_block .content_container .content_block_text h2,
.content_block .content_container .content_block_text h3 {
    margin-top: 4rem;
}

/*-------------------------------------------------------------Home Page Styles*/

/*----------------------------------------------- Buttons */

/* Nav bar button and links */

header .header_top .header_top_nav ul li a.action-item {
    border-radius: 100px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 8.5px 25px;
}


a.action-item {
    border-style: none;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 8.5px 25px;
    text-transform: uppercase;
    transition: all 0.2s ease-out;
}

header .header_top .header_top_nav ul li a {
    color: var(--gray-75);
    transition: color 0.35s ease-out;
}

header .header_top .header_top_nav ul li a:hover {
    color: var(--brivity-blue);
}


/* general button */

.button-round {
    border-radius: 100px;
    border-style: none;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 4px 25px;
    text-transform: uppercase;
    transition: all 0.2s ease-out;
}

.button-round-small {
    font-size: .95rem;
    padding: 0 25px;
}

.button-round a {
    color: inherit;
}

.button-primary-1 {
    color: var(--white);
    background-color: var(--brivity-blue);
}

.button-primary-1:hover {
    background-color: var(--brivity-blue-115);
}

.button-primary-2 {
    background-image: var(--coral-grad);
    color: var(--white) !important;
}

.button-primary-2:hover {
    background-image: linear-gradient(90deg, #f2714d 0%, #af243e 50%);

}

.button-primary-2 a:hover {
    color: white;

}

.button-secondary {
    color: var(--brivity-blue);
    background-color: transparent;
    border: 2px solid var(--brivity-blue);
}

.button-secondary:hover {
    color: var(--brivity-blue-115);
    background-color: var(--brivity-blue-20);
    border: 2px solid var(--brivity-blue-115);
}

.button-text {
    font-family: inherit;
    font-size: .95rem;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 0 5px;
    text-transform: uppercase;
    transition: all 0.2s ease-out;
}


.button-group-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.button-container {
	display: flex;
  	justify-content: center;
}

/*---------------------------------Home Page Card Styles*/

.card-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-summary {
    border-radius: 8px;
    /*box-shadow: 0px 2px 8px rgba(213, 213, 213, 0.5);*/
    margin: 16px 0;
    padding: 32px;
    flex: 1;
}

.card-summary h3 {
    margin-top: 10px;
}

.card-summary-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.icon-circle {
    display: flex;
    align-content: center;
    padding: 20px;
    border-radius: 100px;
    background: var(--blue-grad);
    border: 1px white solid;
}

.icon-circle .fal {
    font-size: 25px;
    /* background: linear-gradient(90deg, #f2714d 0%, #af243e 100%);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
}

.card-lists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    line-height: 1.4;
    font-weight: 600;
}

.card-lists ul {
    margin: 0 !important;
    min-width: 200px;
}


/*---------------------------------------------------Home Page Section Styles*/
.landing_top {
    padding: 100px 0 !important;
}

.landing_home {
    letter-spacing: 0;
}

.landing-category-section {
    gap: 30px;
    margin: 40px 20px;
    padding: 40px 0;
}

.landing-category-section .category-title {
    color: var(--gray-75);
    font-weight: 600;
}

.landing-category-section .col-block {
    margin: 0;
    padding: 32px;
    border-radius: 10px;
}

.landing-category-section .col-block a {
    flex-wrap: wrap;
    justify-content: flex-start;
}

.landing-category-section .col-block .category-icon {
    color: var(--brivity-blue) !important;
    font-size: 20px;
    width: auto;
    height: auto;
    line-height: 30px;
}

.landing-category-section .col-block .category-l {
    flex: 0 0 40px;
}

.landing-category-section .col-block .category-r {
    flex: 1;
}

.landing-category-section .col-block .category-r h3 {
    color: var(--brivity-blue);
}

.col-block .more-icon {
    display: none;
}

.call-out-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    align-content: center;
    background: linear-gradient(230deg, #36717F, #5BC0C0 65%);
    margin: 0 0 -120px 0;
}


.callout-border {
    display: block;
}

.call-out-section-content {
    color: white;
    padding: 0 20px;
    max-width: 80%;
    min-width: 300px;
    text-align: center;
    margin: -30px 0 0 0;
}

.call-out-section h1 {
    font-size: 2.6rem;
}

/*--------------------------widget-block-------*/

.landing_widget {
    background-color: white;
}

.landing_widget .widget_block h3 {
    color: var(--gray-75);
}

/*--------------------------2-col with image section-------*/
.landing_2col {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    padding: 40px 0 0 0;
}

.container .landing_2col {
    max-width: calc(100% - 20vw);
    margin: 0 auto;
}


.landing_2col .col2_block {
    max-width: 45%;
    min-width: 250px;
}

.landing_2col .col2_block a {
    border-radius: 100px;
    border-style: none;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 8px 25px;
    text-transform: uppercase;
    transition: all 0.2s ease-out;
    color: var(--white);
    background-color: var(--brivity-blue);
}

.landing_2col .col2_block p {
    margin-top: 24px;
}



/*--------------------------------------------------------------------------------Article Styles*/

/*links*/
a {
    font-weight: 600;
    text-decoration: none;
}



a:hover {
    color: var(--brivity-blue-115);
}

.content_block .content_container .content_block_text {
    letter-spacing: 0 !important;
}


/*left side bars - categories and articles*/

.left_sidebar_nav {}

.left_sidebar_nav li {
    padding-bottom: 2px;
}

.left_sidebar_nav li a {
    font-size: 14px;
    color: var(--gray-75) !important;
}

.left_sidebar_nav li a.active {
    border-radius: 4px !important;
    background: var(--brivity-blue-20) !important;
    color: var(--brivity-blue-115) !important;
}

/*---------------------------right side bar - article table of contents*/
.content_block .content_container .page-action .article_action_links ul li a {
    font-weight: 400;
}

.content_block .content_container .page-action .article_action_links ul li.selected>a {
    color: var(--gray-75);
    font-weight: 600;
}

.page_action {
    background-color: var(--tinted-gray-50);
    border-radius: 4px;
}

/*selected contents*/
.content_block .content_container .page-action .article_action_links ul li.selected>a:before {
    background-color: var(--brivity-blue-115);
}

/*spacing between contents and tags*/
.content_block .content_container .page-action .article_action_links {
    margin-bottom: 100px;
}

/*tags*/
.content_block .content_container .page-action .tags-articles ul li a {
    background-color: var(--tinted-gray-50);
    font-weight: 400;
}

.content_block .content_container .page-action .tags-articles ul li a:hover {
    background-color: var(--tinted-gray-100);

}

/*---------------------------------------article header*/

.breadcrumb-sec {
    padding: 30px 15px;
}

/*info bar*/
.info-bar.light-theme {
    background-color: var(--brivity-blue-20);
}

.info-bar .info-bar-in {
    padding: 15px 0 15px 30px;
    justify-content: center;
}

/*search bar*/
header .header_bottom .header_bottom_nav ul li.whats-new-icon {
    display: none;
}


/*---------------------------------------Article content*/

/*article content header*/
.content_block .content_container .content_block_head {
    padding-bottom: 2.5rem;
}

.content_block .content_container .content_block_head h1 {
    margin-bottom: 1rem;
}


/*article body*/
.content_block .content_container .content_container_text_sec .content_container_text_sec_in {
    padding: 4rem 3rem;
}

.related-articles-container {
    margin: 5rem 0;
}

.content_block .content_container .content_block_text {
    padding-bottom: 5rem;
}

table td,
table th {
    padding: 20px 30px;
}

hr {
    margin: 40px 0;
}

/*callouts*/

.infoBox {
    background-color: #ddf7ff;
    /* Here you can change info box background color*/
    color: #006a8a;
    /* Here you can change info box font color*/
}

.errorBox {
    background: #f9e2e4;
    /* Here you can change error box background color*/
    color: #7e1115;
    /* Here you can change error box font color*/
}

.warningBox {
    background: #fdf2ce;
    /* Here you can change warning box background color*/
    color: #7f6416;
    /* Here you can change warning box font color*/
}

.watermark_logo {
    height: 0px;
    display: none !important;
}

.watermark_logo a {
    height: 0px;
    display: none !important;
}


/*------------------------------------------------Index page (Folder)*/

/*Hide icon and byline in header*/
.content_block .content_container .content_block_head .category-title-content .category-icon {
    display: none;
}

.content_block .content_container .content_block_head .title-article-count {
    font-size: 1.2rem;
    margin: 0px;
}

.content_block .content_container .content_block_head .article-head-sec {
    padding: 20px 0 20px 0;
}

/*article header styles*/
.content_block .content_container .content_block_head h1 {
    margin-bottom: 0;
}

.content_block .content_container .content_block_head hr {
    background: linear-gradient(90deg, #dbdbdb 0, #fff);
    border: none;
    height: 1px;

}

/*Article list*/

.content_block .content_container .content_block_text .category-index-view .category-index-item {
    padding: 30px 40px;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.content_block .content_container .content_block_text .category-index-view .category-index-item .index-article-snippet {
    font-weight: 400;

}

.content_block .content_container .content_block_text .category-index-view .category-index-item .index-article-contributors {
    display: none;
}

/*---------------------------------------article content cards*/

.course-card {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    /*border: solid var(--gray-10) 1.5px;*/
    border-radius: 8px;
    margin: 50px 0;

}

.course-card-content {
    flex: 1 2 400px;
}

.course-card-content h2 {
    line-height: 2.2rem;
}

.course-card-content p {
    font-size: 15px;
    line-height: 1.7rem;
}
